body {
    /* background-color: grey; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    font-family: 'Comfortaa', cursive;
    /* background-image: url("img/aaron-burden-BTubi6qaY6Q-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* height: 100%; */
    background-color: rgb(208, 223, 230);
    color: rgb(42, 43, 46);
}

.header-container {
    text-align: center;
}

input, button {
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
    border: 2px solid grey;
    height: 30px;
    border-radius: 15px;
    outline: none;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 90%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    animation: weather-container;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes weather-container {
    0% {top: -50px; opacity: 0}
    100% {top: 0px; opacity: 1}

}

.card {
    border: 2px solid grey;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: none;
}

.temp {
    display: flex;
    justify-content: center;
}

.condition-container {
    height: 60px;
}

.img-section {
    /* background-image: url("https://www.weatherbit.io/static/img/icons/r01d.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}

@media (max-width: 1270px) {
    .container {
        width: 50%;
    }

    /* .card {
        width: 100%;
    } */
}